<form id="createChatForm" method="post"
      hx-post="{% url 'chat:chat_create' %}"
      hx-target=".list-group li:first-child"
      hx-swap="beforebegin"
      hx-on::after-request="this.reset()">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary w-100 mt-3" data-bs-dismiss="modal">
        <i class="fas fa-save"></i> Save
    </button>
</form>

<script>
    htmx.on('chatCreated', (event) => {
        const chatId = event.detail.chatId;
        document.getElementById('chat-container').setAttribute('data-chat-id', chatId);
        const url = event.detail.url;
        htmx.ajax('GET', url, '#chat-container');
    });

    htmx.on('updateID', (event) => {
        const chatId = event.detail.chatId;
        document.getElementById('chat-container').setAttribute('data-chat-id', chatId);
    });
</script>